/* CSS */

.body {
    background-color: #15032a;
    text-align: center;
    margin: 2rem auto;
}

.header {
    text-align: left;
    font-family: "Inter UI", "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 23px;
    margin: 1rem;
    color: white;
}

.home-title {
    text-align: center;
    margin: 3rem;
    font-family: "Inter UI", "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 40px;
    color: white;
}

.description {
    text-align: left;
    font-family: "Inter UI", "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 16px;
    margin: 1rem;
    color: white;
}

.h1 {
    text-align: center;
    margin: 2rem;
    font-family: "Inter UI", "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 30px;
    color: white;
}

.h2 {
    text-align: center;
    font-family: "Inter UI", "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 16px;
    color: white;
}

.p {
    text-align: center;
    font-family: "Inter UI", "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 16px;
    color: white;
}

.result {
    text-align: center;
    font-family: "Inter UI", "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 30px;
    color: white;
}

label {
    flex-direction: row;
    justify-content: flex-end;
    text-align: center;
    width: 400px;
    line-height: 26px;
    margin-bottom: 10px;
    margin: 1rem;
    text-align: center;
    font-family: "Inter UI", "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 16px;
    color: rgb(219, 194, 173);
}

input {
    height: 20px;
    flex: 0 0 200px;
    margin-left: auto;
    display: inline-block;
    width: 150px;
}

.maindiv {
    margin: auto;
    display: block;
}

.container {
    display: flex;
    margin: 1rem;
    margin-left: 10rem;
}

.container-euler {
    text-align: center;
}

.label-euler {
    display: inline-block;
    clear: left;
    width: 250px;
    text-align: center;
}

.container-pvc {
    display: flex;
    margin: auto;
    text-align: center;
    justify-content: center;
}

.container-raiz {
    text-align: center;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h3-size {
    font-size: 35px;
}

.h1-size {
    font-size: 28px;
}

.button-choose {
    width: 300px;
    margin: 10px;
    align-items: center;
    display: flex;
    background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    cursor: pointer;
    flex-shrink: 0;
    font-family: "Inter UI", "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 16px;
    font-weight: 500;
    height: 4rem;
    padding: 0 1.6rem;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all .5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.gradient2 {
    background-image: linear-gradient(92.88deg, #6537a0 9.16%, #6e29bd 43.89%, #7123b9 64.72%);
}

.gradient3 {
    background-image: linear-gradient(92.88deg, #400e81 9.16%, #260385 43.89%, #5f08b1 64.72%);
    text-align: center;
}

.center-btn {
    text-align: center;
    margin-left: auto;
    margin-left: 1.2rem;
}

.button-choose:hover {
    text-decoration: none;
    box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
    transition-duration: .1s;
}

.button-choose a {
    color: white;
    text-decoration: none;
}

@media (min-width: 768px) {
    .button-choose {
        text-align: center;
        padding: 0 2.6rem;
    }
}


/* CSS */

.button-calculate {
    background-color: #111827;
    border: 1px solid transparent;
    border-radius: .75rem;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex: 0 0 auto;
    font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.5rem;
    padding: .75rem 1.2rem;
    text-align: center;
    text-decoration: none #6B7280 solid;
    text-decoration-thickness: auto;
    transition-duration: .2s;
    transition-property: background-color, border-color, color, fill, stroke;
    transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
}

.button-calculate:hover {
    background-color: #374151;
}

.button-calculate:focus {
    box-shadow: none;
    outline: 2px solid transparent;
    outline-offset: 2px;
}

@media (min-width: 768px) {
    .button-calculate {
        padding: .75rem 1.5rem;
    }
}